<!DOCTYPE html>
<html>
	<head>
		<title>ZenViewer</title>
		
		<script src="javascripts/lib/angular.min.js"></script>
		<script src="javascripts/lib/angular-ui-router.js"></script>
		
		<script src="javascripts/viewerController.js"></script>
		
		<link rel="stylesheet" href="stylesheets/css/viewerStyling.css" />
	</head>
	<body ng-app="ticketViewer">
		<div id="DIV_header">
			<h1>ZenViewer</h1>
			<a href="#/login"><span>Login</span></a>
			<a href="#/tickets"><span>Tickets</span></a>
			<a href="#/testLogin"><span>Test Login</span></a>
			<a href="#/testTickets"><span>Test Tickets</span></a>
		</div>
		<div ui-view></div>
		<script type="text/ng-template" id="/overview.html">
			<div id="DIV_overview">
				<div ng-hide="user.auth">
					<h2>No active user</h2>
					<span>Please return to the login screen and authenticate a user to display tickets.</span>
					<br />
					<br />
					<a href="#/login"><span>Go to Login Screen</span></a>
				</div>
				<div ng-show="user.auth">
					<div class="DIV_controls">
						<h2>Tickets</h2>
						
						<button ng-click="getTickets()">Get Tickets</button></h2>
						
						<button ng-disabled="currentPage == 0" ng-click="currentPage = currentPage-1">&lt;</button>
						
						<span>{{currentPage+1}} / {{maxPageNum}}</span>
						
						<button ng-disabled="currentPage == maxPageNum" ng-click="currentPage = currentPage+1">&gt;</button>
					</div>
					<table>
						<tr>
							<th>ID</th>
							<th>Subject</th>
							<th>Status</th>
							<th>Created At</th>
						</tr>
						<tr ng-repeat="ticket in tickets | pageStart: currentPage * ticketsPerPage | limitTo: ticketsPerPage">
							<td><a href="#/tickets/{{ticket.id}}">{{ticket.id}}</a></td>
							<td><a href="#/tickets/{{ticket.id}}">{{ticket.subject}}</a></td>
							<td>{{ticket.status}}</td>
							<td>{{ticket.created_at}}</td>
						</tr>
					</table>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="/ticket.html">
			<div id="DIV_ticketView">
				<div ng-hide="user.auth">
					<h2>No active user</h2>
					<span>Please return to the login screen and authenticate a user to display tickets.</span>
					<br />
					<br />
					<a href="#/login"><span>Go to Login Screen</span></a>
				</div>
				<div ng-show="user.auth">
					<a href="#/tickets">&lt; Back to Overview</a>
					<h2>{{ticket.subject}}</h2>
					<div>
						<span><strong>ID:</strong> {{ticket.id}}</span>
						<span ng-show="ticket.type"><strong>Type:</strong> {{ticket.type}}</span>
						<span ng-show="ticket.status"><strong>Status:</strong> {{ticket.status}}</span>
						<span ng-show="ticket.priority"><strong>Priority:</strong> {{ticket.priority}}</span>
					</div>
					<div>
						<span><strong>Requested By:</strong> {{ticket.requester_id}}</span>
						<span ng-show="ticket.assignee_id"><strong>Assigned To:</strong> {{ticket.assignee_id}}</span>
					</div>
					<div>
						<span><strong>Created:</strong> {{ticket.created_at}}</span>
						<span ng-show="ticket.updated_at"><strong>Updated:</strong> {{ticket.updated_at}}</span>
						<span ng-show="ticket.due_at"><strong>Due:</strong> {{ticket.due_at}}</span>
					</div>
					<div class="DIV_tags" ng-show="ticket.tags">
						<strong>Tags</strong>
						<br/>
						<span ng-repeat="tag in ticket.tags">{{tag}}</span>
					</div>
					<div>
					<span><strong>Description</strong></span>
					<p>{{ticket.description}}</p>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="/login.html">
			<h2>User Login</h2>
			<form ng-submit="checkLogin()">
				<label>Username: </label><input type="text" ng-model="usernameInput" />
				<br />
				<br />
				<label>Password: </label><input type="password" ng-model="passwordInput" />
				<br />
				<br />
				<label>Account Name: </label><input type="text" ng-model="accountInput" />
				<br />
				<br />
				<button type="submit">Login</button><br />
				<br />
				<span>{{message}}</span>
				<span class="error">{{error}}</span>
				<br />
				<br />
				<a href="#/tickets" ng-show="message"><span>Go to Ticket Overview</span></a>
			</form>
		</script>
		<script type="text/ng-template" id="/loginTest.html">
			<p><strong>Output:</strong> {{message}}{{error}}</p>
			<br />
			<div>
				<strong>Empty User Input</strong>
				<button ng-click="test_EmptyUser()">Run</button>
				<br />
				<span>Expected: Please supply a user login, password, and account name.</span>
			</div>
			<div>
				<strong>Incorrect User Input</strong>
				<button ng-click="test_IncorrectUser()">Run</button>
				<br />
				<span>Expected: Zendesk didn't authenticate your details, please input valid user details</span>
			</div>
		</script>
		<script type="text/ng-template" id="/overviewTest.html">
			<p><strong>Output:</strong> {{message}}{{error}}</p>
			<br />
			<div>
				<strong>Invalid User</strong>
				<button ng-click="test_InvalidUser()">Run</button>
				<br />
				<span>Expected: There is no active, authenticated user, please go back and login before proceeding.</span>
			</div>
		</script>
	</body>
</html>
