#DIV_header{
	h1, span{
		display:inline-block;
		vertical-align: middle;
	}
	
	h1{
		margin-right:15px;
	}
	
	span{
		margin:5px 10px;
		padding:10px;
	}
	
	border-bottom: 2px solid black;
}

.DIV_loginView{
	&>*{
		text-align: center;
	}
}

.DIV_controls{
	*{
		display:inline-block;
		vertical-align: middle;
		margin:5px;
	}
	h2{
		margin-right:15px;
	}
	
	text-align: center;
}

.DIV_ticketView{
	.DIV_ticketWrapper{
		&>div{
			display:inline-block;
			text-align:left;
			
			div{
				margin:10px 0px;
				span{
					display:inline-block;
					margin:5px;
				}
			}
		}
		text-align:center;
	}
	.DIV_error{
		text-align: center;
		
		span{
			display:inline-block;
			margin:5px;
		}
		
		margin:10px 0px;
	}
	
	.DIV_tags{
		span{
			background-color:aliceblue;
			padding:5px 10px;
		}
	}
	
	margin:15px;
}

.DIV_overview{
	
	table{
		th,td{
			text-align:center;
			padding:5px;
		}
		tr:nth-child(even){
			background-color: aliceblue;
		}
		
		display:inline-block;
		border-collapse: collapse;
	}
	div, table{
		text-align: center;
	}
	
	text-align: center;
}

.DIV_testView{
	div{
		margin-bottom:25px;
	}
}